In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
onboard_data = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')
fault_data = pd.read_csv('../data/J1939Faults.csv')

C:\Users\Conrad\AppData\Local\Temp\ipykernel_15148\3163460185.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  fault_data = pd.read_csv('../data/J1939Faults.csv')

In [91]:
test = fault_data[['RecordID', 'EventTimeStamp', 'EquipmentID', 'spn', 'active']]
derates = test[(test['spn'] == 5246) | (test['spn'] == 1569)]
derates_onboard = derates.merge(onboard_data, left_on = 'RecordID', right_on='FaultId')
d_o_pivot = derates_onboard.pivot(index='RecordID', columns='Name', values='Value').reset_index()
d_o_pivot

Name,RecordID,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,41,0,14.21,False,66.48672,121095.5,174.2,0,35.96,220.4375,...,0,32,True,51.8,18431,False,51.97187,3276.75,0,0.58
1,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,True,NaN,22527,NaN,NaN,NaN,NaN,NaN
2,250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
3,291,76.4,14.2825,False,66.48672,121233.4,181.4,77,39.44,221,...,13.24827,32,True,91.4,18431,False,40.73865,3276.75,0,15.66
4,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12117,1247196,0,14.21,False,66.48672,420743.8,183.2,14,23.2,194.7875,...,0.6604322,32,True,100.4,18431,False,1.640808,NaN,100,0.58
12118,1247319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22527,NaN,NaN,NaN,NaN,NaN
12119,1247331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22527,NaN,NaN,NaN,NaN,NaN
12120,1247854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
12121,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,...,7.647805,32,True,98.6,18431,False,65.01096,NaN,73.2,7.83

In [128]:
pd.set_option('display.max_columns',500)
identifiers = derates[['EventTimeStamp', 'RecordID', 'EquipmentID', 'spn', 'active']].drop_duplicates()

d_o_pivot = identifiers.merge(d_o_pivot)
d_o_pivot[(d_o_pivot['spn']==1569) & (d_o_pivot['active'] == True)]

,EventTimeStamp,RecordID,EquipmentID,spn,active,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
2,2015-02-21 15:01:49.000,250,1721,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
4,2015-02-21 15:51:58.000,307,1721,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
6,2015-02-21 16:33:00.000,346,1721,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
8,2015-02-21 17:09:59.000,380,1721,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
10,2015-02-21 19:15:37.000,457,1721,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12109,2020-02-28 22:02:10.000,1246712,1855,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
12112,2020-03-02 08:03:55.000,1247025,1966,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
12118,2020-03-03 06:51:50.000,1247319,1827,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22527,NaN,NaN,NaN,NaN,NaN
12119,2020-03-03 06:59:13.000,1247331,1827,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22527,NaN,NaN,NaN,NaN,NaN
12120,2020-03-04 16:55:48.000,1247854,1868,1569,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN

In [121]:
derates[(derates['spn']==1569) & (derates['active']==True)]

         RecordID           EventTimeStamp EquipmentID   spn  active
40             41  2015-02-21 12:06:22.000        1721  1569    True
290           291  2015-02-21 15:35:45.000        1721  1569    True
340           341  2015-02-21 16:22:24.000        1721  1569    True
378           379  2015-02-21 17:08:02.000        1721  1569    True
454           455  2015-02-21 19:12:43.000        1721  1569    True
...           ...                      ...         ...   ...     ...
1185953   1247077  2020-03-02 10:37:46.000        1855  1569    True
1186004   1247128  2020-03-02 12:41:01.000        1855  1569    True
1186047   1247171  2020-03-02 14:27:44.000        1855  1569    True
1186072   1247196  2020-03-02 15:51:18.000        1855  1569    True
1187331   1248455  2020-03-06 14:04:23.000        1994  1569    True

[5589 rows x 5 columns]

In [ ]:
# applying some geovalues to the faults dataset

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent='the_index_out_of_rangers')

def get_location_info(lat, long):
    location = geolocator.reverse(f'{lat},{long}')
    address = location.raw['address']
    address['place_id'] = location.raw['place_id']
    return address

applied_df = faults.apply(lambda row: get_location_info(row['Latitude'], row['Longitude']), axis='columns', result_type='expand')
faults = pd.concat([test_df, applied_df], axis='columns')

In [ ]:
faults = pd.read_csv('../data/J1939Faults.csv', index_col = 'EventTimeStamp', parse_dates = True)
faults.sort_index(inplace = True) 
faults['count'] = 1
faults.groupby('EquipmentID', as_index = False )['count'].rolling('6H').count()